body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;

  background: whitesmoke;
  color: black;
}

.loader {
  position: absolute;
  left: 50%;

  width: 32px;
  height: 32px;
}

.ship-icon {
  display: inline-block;
  height: 1.5em;
  width: 2em;
  text-align: center;
  background: white;
}